.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;

}

.button--secondary {
  background: $grey;
}

.button--link {
  background: transparent;
}
