.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: $m-size;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin-bottom: $l-size;
  }

  &__item {
    margin-bottom: $s-size;
    margin-right: $s-size;

    @media (min-width: $desktop-breakpoint) {
      margin: 0 $s-size 0 0;
    }
  }
}
