.page-header {
  background: $light-grey;
  margin-bottom: $l-size;
  padding: $l-size 0;

  &__title {
    font-weight: 300;
    margin: 0;

    span {
      font-weight: bold;
    }
  }

  &__actions {
    margin-top: $m-size;
  }
}