* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}
button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

.is-active {
  font-weight: bold;
}